venv
db_config.json
.idea
.vscode
__pycache__/
*.cpython.39.pyc
lib/
config.json
bin/
lib64
pyvenv.cfg
share/


/**/*.cpython.39.pyc
db/__pycache__
models/__pycache__
repos/__pycache__
services/__pycache__
venv/

config.json
instance/

**/__pycache__/

*.db