venv
db_config.json
.idea
.vscode
__pycache__/
*.cpython.39.pyc
lib/
config.json
bin/
lib64
pyvenv.cf
share/
g
/**/*.cpython.39.pyc
db/__pycache__
models/__pycache__
repos/__pycache__
services/__pycache__
