
<div class="character-widget">
    <div class="name"> <a href="{{character.page_url}}"> {{ character.name }} </a></div>
    {% with hp=character.base_hp + ((character.level) * character.stats.conMod), damage=character.removed_hp, temp=character.temp_hp %}
        {% include 'widget/health_bar.html' %}
    {% endwith %}


    {% with stats=character.stats, level=character.level %}
        {% include 'widget/stats.html' %}
    {% endwith %}

    <div class="avatar">
        <img class="icon" src="{{character.avatar_url}}">
        <img class="border" src="{{ url_for('static', filename='img/frame.png') }}">
    </div>
</div>