




<div class="stats">
    <div class="data"> Str: <div class="value"> {{ stats.str }} </div> <div class="mod">{{ stats.chaMod }}</div></div>
    <div class="data"> Dex: <div class="value"> {{ stats.dex }} </div> <div class="mod">{{ stats.dexMod }}</div></div>
    <div class="data"> Con: <div class="value"> {{ stats.con }} </div> <div class="mod">{{ stats.conMod }}</div></div>
    <div class="data"> Int: <div class="value"> {{ stats.int }} </div> <div class="mod">{{ stats.intMod }}</div></div>
    <div class="data"> Wis: <div class="value"> {{ stats.wis }} </div> <div class="mod">{{ stats.wisMod }}</div></div>
    <div class="data"> Cha: <div class="value"> {{ stats.cha }} </div> <div class="mod">{{ stats.chaMod }}</div></div>
</div>