




<div class="stats">
    <div class="data"> Str: <div class="value"> {{ stats.strength }} </div> <div class="mod">{{ stats.charisma_mod }}</div></div>
    <div class="data"> Dex: <div class="value"> {{ stats.dexterity }} </div> <div class="mod">{{ stats.dexterity_mod }}</div></div>
    <div class="data"> Con: <div class="value"> {{ stats.constitution }} </div> <div class="mod">{{ stats.constitution_mod }}</div></div>
    <div class="data"> Int: <div class="value"> {{ stats.intelligence }} </div> <div class="mod">{{ stats.intelligence_mod }}</div></div>
    <div class="data"> Wis: <div class="value"> {{ stats.wisdom }} </div> <div class="mod">{{ stats.wisdom_mod }}</div></div>
    <div class="data"> Cha: <div class="value"> {{ stats.charisma }} </div> <div class="mod">{{ stats.charisma_mod }}</div></div>
</div>